<div class="row">
	<div class="span12">
		<h1>Welcome to 503-TACO-LEG</h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>This is the home page of Teambuilding's 2013 TSP
		project, 503-TACO-LEG! </b> Enjoy!</p>
	</div>
</div>
