<div class="row">
	<div class="span12">
		<h1>Welcome to 21-TACO-KEYS</h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>This is the home page of Teambuilding's 2013 TSP
		project, 21-TACO-KEYS! </b> Enjoy!</p>
	</div>
</div>
