<% provide(:title, '') %>
<div class="row">
	<div class="span12">
		<h1>Welcome to 503-TACO-LEG</h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>This is the home page of Teambuilding's 2013 TSP
		project, 503-TACO-LEG! </b> Enjoy!</p>
	</div>
</div>
<center>
<div class="row">
	<div class = "span6">
		<h2>Send a Message</h2>
	</div>
	<div class = "span6">
		<h2>Associate Groups and Users</h2>
	</div>
</div>
<div class="row">
	<div class = "span3">
		<p><Strong>Groups:</Strong></p>
		<select size = "10">
  			<% @groups.each do |group|%>
  				<option><%= group.name%></option>
  			<%end%>
  		</select>
	</div>
	<div class = "span3">
		<p><Strong>Message:</Strong></p>
			<textarea rows = "9"></textarea>
		<button class="btn btn-large btn-primary" type="button">Send</button>
	</div>
	<div class="span3">
		
		<p><Strong>Groups:</Strong></p>
		<select multiple="multiple" size = "10">
  			<% @groups.each do |group|%>
  				<option><%= group.name%></option>
  			<%end%>
  		</select>
  		<p><small>Hold Ctrl to select multiple items</small></p>
	</div>
	
	<div class="span3">
		<p><Strong>Users:</Strong></p>
		<select multiple="multiple" size = "10">
  			<% @users.each do |user|%>
  				<option><%= user.name%></option>
  			<%end%>
  		</select>
  		<button class="btn btn-large btn-primary" type="button">Associate</button>
	</div>
</div>
</center>
