<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" >
<title>Home</title>
</head>
<body bgcolor="#ffffff">
<h1 align="left">Welcome</h1>
<p>This is the home page of Teambuilding's 2013 TSP 
project. Enjoy!</p>
</body>
</html>