<<<<<<< HEAD
<% provide(:title, '') %>
<h1 align="left">Welcome</h1>
<p>This is the home page of Teambuilding's 2013 TSP 
project. Enjoy!</p>
=======
<% provide(:title, '') %>
<div class="row">
	<div class="span12">
		<h1>Welcome</h1>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>This is the home page of Teambuilding's 2013 TSP
		project, 503-TACO-LEG! </b> Enjoy!</p>
	</div>
	<div class="span6">
		
	</div>
</div>
>>>>>>> e720476d02c7fca50f96f5a0209f871bea3ed1a7
