<footer class="footer">
  <small>
    TSP project
    by people
  </small>
  <nav>
    <ul>
      <li><small>About</small></li>
      <li><small>Contact</small></li>
    </ul>
  </nav>
</footer>