<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li>home</li>
          <li>help</li>
        </ul>
      </nav>
    </div>
  </div>
</header>